@CHARSET "UTF-8";
.simulator-button{
  -fx-background-color: #03a1e4;
  -fx-background-radius: 0px;
  -fx-border-width: 1;
  -fx-border-color: #038fcb;
  -fx-text-fill: #fff;
  -fx-padding: 5 0 5 0;
  -fx-font-size: 20px;
}

.simulator-button:hover{
  -fx-border-color: #026c98;
}
.simulator-button:pressed{
  -fx-background-color: #1592c3;
}

#select{
  -fx-padding: 10;
}

#vertical-container{
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
}